<h1>Users List</h1>
<br/>

<% @users.each do |user| %>
<!-- %= link_to "Show user", show_user_path, class: "blist-group-item list-group-item-action list-group-item-light border card mb-2" do %-->
<a href="/users/<%= user.id %>" class="blist-group-item list-group-item-action list-group-item-light border card mb-2">
     <div class="d-flex row">
    <div class="d-flex col-md-2">
        <%= image_tag user.photo, class: "img-thumbnail rounded" %>
    </div>
    <div class="d-flex align-items-center col-md-8">
      <div class="card-body align-items-center">
        <h2 class="card-title"><%= user.name %></h2>
        <p class="card-text d-flex justify-content-end "><small class="text-muted">Number of posts: <%= user.posts_counter%></small></p>
      </div>
    </div>
  </div>
</a>
<!-- % end % -->
 <% end %>